.git
.github
.idea
.vscode
.fleet
.nova
.zed
.env
.env.*
**/.env
**/.env.*
auth.json
**/auth.json
*.pem
**/*.pem
*.key
**/*.key
*.p12
**/*.p12
*.pfx
**/*.pfx
node_modules
vendor
public/build
public/hot
public/storage
storage/**
bootstrap/cache/*.php
*.sqlite
*.sqlite-*
**/*.sqlite
**/*.sqlite-*
*.sql
**/*.sql
*.log
**/*.log
.phpunit.cache
.phpunit.result.cache
coverage
scratch
tests
docs
README.md
Homestead.json
Homestead.yaml
Thumbs.db
.DS_Store
